#msgSideBar {
    height: 100%;
    width: 12em;
    position: fixed;
    z-index: 1;
    left: 0;
    overflow-x: hidden;
}

#mainContainer {
    position: relative;
    padding-left: 12em;
}

img.avatar {
    width: 60px;
}

@media screen and (max-width: 768px) {
    #msgSideBar {
        width: 4.5em;
    }
    
    #mainContainer {
        padding-left: 4.5em;
    }
}

#text-truncate {
    max-width: 90%;
}

a {
    cursor: pointer !important;
}