/* body {
    background: #f1f1f1
}

.container {
    background-color:#f1f1f1;
} */

h1{
    text-align: center;
}

/* Bordered form */
form {
    /* border: 3px solid #f1f1f1; */
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

/* Full-width inputs */
input[type=text] {
    width: 100%;
    padding: 10px 20px;
    margin: 10px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    /* background-color: #4CAF50; */
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

label {
    display: block;
}


#popUpMsg {
    position: fixed;
    top: 225px;
    left: 400px;
}